.JumpControlsVisibility {
  position: fixed;
  z-index: 3;
  inset-inline: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  will-change: opacity, transform;
  transition: opacity 100ms var(--cubic-exit),
    transform 150ms var(--cubic-exit);
}

.JumpControlsVisibility:has(.Jump[data-direction="up"]) {
  top: 1em;
  opacity: var(--jump-controls-progress);
  transform: translate3d(
    0,
    calc((var(--jump-controls-progress) - 1) * 96px),
    0
  );
  transition: none;
}

.JumpControlsVisibility:has(.Jump[data-direction="down"]) {
  bottom: 4em;
  opacity: var(--jump-controls-progress);
  transform: translate3d(
    0,
    calc((1 - var(--jump-controls-progress)) * 96px),
    0
  );
  transition: none;
}

.JumpControlsVisibility[data-interactive="true"]:has(.Jump[data-direction]) {
  pointer-events: auto;
}
