.InputContainer {
  display: flex;
  min-width: 0;
  align-items: stretch;
}

.InputContainer-item {
  position: relative;
  min-width: 0;
}

.InputContainer-item + .InputContainer-item {
  border-inline-start: 1px solid var(--border-subtle);
}

.InputContainer-item:last-child {
  border-inline-end: 1px solid var(--border-subtle);
}
